.tweets {
  margin-top: 30px;
  margin-bottom: 30px;
}
/* for pictures, use opacity */
.tweets article:hover {
  box-shadow: 10px 10px #c1ccfa;
}

.tweets article:hover .icons {
  opacity: 1;
}
.reveal {
  display: none;
  color: #c1ccfa;
}

.tweets article:hover .reveal {
  display: flex;
  align-items: center;
}

.tweets article {
  border: 3px solid black;
  padding: 0 20px;
  display: block;
  margin: 30px auto;
  width: 98%;
}

.tweets header div {
  padding: 10px 10px 0 10px;
  display: flex;
  justify-content: space-between;
}

.tweets header div p {
  display: flex;
  align-items: center;
}

.tweets header div p img {
  padding-right: 10px;
}

.tweets footer div {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  font-size: 15px;
}

.user-tweet {
  border-bottom: solid black;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.icons {
  opacity: 0.2;
}

.fa-retweet {
  margin-left: 5px;
  margin-right: 5px;
}